img{
    max-width: 100%;
    max-height: 100%;
}



.container{
    margin: 20px;
    width: 1000px;
    margin: auto;

}



.container{
    margin: 20px;
    width: 1000px;
    margin: auto;

}
/* bloque 1 */
header {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    padding: 20px;

}

.navegador {
    display: flex;
    padding: 10px;
}

.nav1 {
    margin: 10px;
    height: 50px;
    flex-grow: 1;

}
.nav2 {
    margin: 10px;
    height: 50px;
    flex-grow: 5;
    display: flex;
    align-items: flex-end;

}

.menu{
    margin-right: 20px;
}

.nav3 {
    margin: 10px;
    height: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.icon {
    height: 30px;
    padding: 10px;
}


.cabecera {
    display: flex;
    margin-top: 50px;
}

/* No se como hacer que solo el texto sea semitransparente por eso lo aplico en toda la capa */
.cab1 {
    margin: 20px;
    height: 30px;
    flex-grow: 1;
    text-align: center;
    opacity: .5;
}



/* Bloque 2 */

main {
    display: flex;

    background-color: lightgray;
    margin: 20px 0;
    padding: 10px;


}

.blog {
    display: flex;
    flex-grow: 2;
    margin: 20px 10px 20px 20px;
    flex-direction: column;

}

.ent1, .ent2 {
    display: flex;
}


.ent {
    margin: 10px;
    background-color: white;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 5px;

}

.imagen {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    height: 150px;
    position: relative;
}

.categoria{
    background-color: tomato;
    height: 20px;
    
}





.sol {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    margin: 10px;
    flex-grow: 1;
    height: 300px;
}

.sidebar {
    background-color: yellow;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 20px 20px 20px 10px;
    padding: 10px;
}

.sid {
    margin: 10px;
    height: 20px;
    background-color: teal;
}

/* Bloque 3 */

footer {
    background-color: black;
    padding: 20px;
    
}
.foot {
    background-color:yellowgreen;
    height: 20px;

}

/* Versión tablet */

@media only screen and (max-width:  768px) {

main{
    flex-direction: column;
    background-color: hotpink;
}
.blog{
    margin: 20px 20px 10px 20px;
}

.sidebar {
    margin: 10px 20px 20px 20px;
}

.container{
    width: 100%;
}

}

/* Versión móvil */

@media only screen and (max-width: 576px) {

    main{
        flex-direction: column;
        background-color: black;
    }
    .nav2 {
        flex-grow: 2;
    
    }
    .blog{
        margin: 20px 20px 10px 20px;
    }
    
    .sidebar {
        margin: 10px 20px 20px 20px;
    }
    .container{
        width: 100%;
    }

}