img{
    max-width: 100%;
    max-height: 100%;
}



.container{
    margin: 20px;
    width: 1000px;
    margin: auto;

}

/* Efectos */

a:hover {
    background-color: tomato;
    font-style: italic;
}

/* bloque 1 */
header {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;

}

/* Menú */

.navegador {
    display: flex;
    padding: 10px;
}

.nav1 {
    margin: 10px;
    height: 50px;
    flex-grow: 1;

}
.nav2 {
    margin: 10px;
    height: 30px;
    flex-grow: 5;
    display: flex;
    align-items: flex-end;

}

.menu{
    margin-right: 20px;
    height: 30px;
    text-decoration: none;
}
    
.menu a{
    text-decoration:none;
    color: black;
}

.nav3 {
    margin: 10px;
    height: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.icon {
    height: 30px;
    padding: 10px;
}


.cabecera {
    display: flex;
    margin-top: 50px;
}

/* No se como hacer que solo el texto sea semitransparente por eso lo aplico en toda la capa */
.cab1 {
    margin: 20px;
    height: 30px;
    flex-grow: 1;
    text-align: center;
    opacity: .5;
}



/* Bloque 2 */

main {
    display: flex;

    background-color: lightgray;
    margin: 20px 0;
    padding: 10px;


}

.blog {
    display: flex;
    margin: 20px 10px 20px 20px;
    flex-direction: column;
    flex-basis: 66%;

}

.ent1, .ent2 {
    display: flex;
}

/* Estilo de la caja de los artículos */
.entA, .entB, .entC, .entD {
    margin: 10px;
    background-color: white;
    display:flex;
    flex-direction: column;
    padding: 5px;
    flex-basis: 50%;

}

.imagenA, .imagenB, .imagenC, .imagenD{
    min-height: 150px;
    display: flex;
    position: relative;
}

/* Imagenes de los artículos */
.imagenA{
    background-image: url(../images/fuji.jpg);
    background-size: cover;
    background-position: center;
}
.imagenB{
    background-image: url(../images/himeji.jpg);
    background-size: cover;
    background-position: center;
}
.imagenC{
    background-image: url(../images/itsu.jpg);
    background-size: cover;
    background-position: center;
}
.imagenD{
    background-image: url(../images/byodo.jpg);
    background-size: cover;
    background-position: center;
}
.imagenE{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 150px;
}

.fecha{
    position: absolute;
    bottom: 0;
}

.categoria{
    background-color: tomato;
    height: 20px;
      
}

/* Articulo de ancho completo */
.sol {
    background-color: white;
    margin: 10px;
    min-height: 300px;
    padding: 5px;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    margin: 30px 30px 30px 20px;
}

.sid {
    margin: 10px;
    min-height: 20px;
    background-color: lightgray;
}

/* Bloque 3 */

footer {
    background-color: lightgray;;
    padding: 20px;
    
}
.foot {
    background-color: white;
    min-height: 20px;

}

/* Versión tablet */

@media only screen and (max-width:  768px) {

main{
    flex-direction: column;
    background-color: hotpink;
}
.blog{
    margin: 20px 20px 10px 20px;
}

.sidebar {
    margin: 20px 30px 30px 30px;
}

.container{
    width: 100%;
}

}

/* Versión móvil */

@media only screen and (max-width: 576px) {

    main{
        flex-direction: column;
        background-color: black;
    }
    .nav2 {
        flex-grow: 2;
    
    }
    .blog{
        margin: 20px 20px 10px 20px;
    }
    
    .sidebar {
        margin: 20px 30px 30px 30px;
    }
    .container{
        width: 100%;
    }

}
